h1 { 
    font-family: 'Rajdhani', sans-serif;
    font-size: 35px;
    
}

label {
    font-family: 'Rajdhani', sans-serif;
    font-size: 12px;

}
input {
    font-family: 'Rajdhani', sans-serif;
    font-size: 12px
}
#all {
    font-family: 'Rajdhani', sans-serif;
    font-size: 12px;
}
#post {
    font-family: 'Rajdhani', sans-serif;
    font-size: 12px;
}
#update {
    font-family: 'Rajdhani', sans-serif;
    font-size: 12px;
}
#delete {
    font-family: 'Rajdhani', sans-serif;
    font-size: 12px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    font-family: 'Rajdhani', sans-serif;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111111;
  }
